

 /* my.css */

body {
background-image: url("./images/pattern-background-desktop.png");
}

.mydiv {
  background-color: white;
	border-radius: 25px;
  width: 400px;

  padding: auto;
  text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  margin: auto;
 }
 .text1{
	 font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
 }
.table1{
	margin-left: auto;
 margin-right: auto;
 font-family: Arial, Helvetica, sans-serif;
}
  .button1 {
	background-color: blue;
  border: none;
  color: white;

  padding: 15px;
  text-align: center;
  text-decoration: none;
	border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    width: 80%}

.button2 {
background-color: white;
border: none;
  color: black;
	border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.img
{
 margin: auto;
}

#object2 {

					 object-position:right;
					 /* Numeric value */
			 }

			 #object1{
				 border-top-left-radius:25px;
				 border-top-right-radius: 25px;



		             object-position: 0px 5%top;
}
.table1 {
       border-collapse: separate;
    }

.th {
 float: right;
}
